html, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

body {
  min-width: 320px;
}

.hidden {
  display: none;
}

header {
  background-color: black;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header__container {
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
}
.header__container__item1 {
  display: flex;
  min-height: 10em;
  padding-left: 1em;
}
.header__container__item2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 8em;
  padding-right: 2em;
}
.header__container__navbar {
  list-style-type: none;
}
.header__container__navbar a {
  text-decoration: none;
  color: black;
}

.header__mobile-menu {
  list-style-type: none;
  text-decoration: none;
  background-color: white;
  padding: 3em 1em 1em 3em;
  box-shadow: 0px 4px 5px 6px rgba(0, 0, 0, 0.2901960784);
}

.header__mobile-menu a {
  text-decoration: none;
  color: black;
}

.header__mobile-menu li {
  font-family: Archivo;
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 1.5em;
}

.header__button {
  background: none;
  border: none;
}

.header__logo {
  margin-top: 2em;
  background: url(../../assets/header/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  min-width: 15em;
}

#headerPar {
  color: white;
  font-family: Roboto;
  font-size: 1em;
  font-weight: 400;
  line-height: 2em;
  text-align: left;
  display: none;
}

.header-down {
  position: fixed;
  transition: all 800ms ease-out;
}

.header-normal {
  position: fixed;
  transform: translate3d(0, -80%, 0);
  transition: all 800ms ease-out;
}

@media (width > 1000px) {
  #menuClosed {
    display: none;
  }
  #menuOpened {
    display: none;
  }
  #headerPar {
    display: block;
    position: absolute;
    bottom: 10em;
  }
  header {
    padding: 5em 20em 0em 20em;
    position: relative;
  }
  .header__container {
    position: relative;
    top: 5em;
  }
  .header__container__navbar {
    display: flex;
    justify-content: space-between;
    width: 30em;
  }
  .header__container__navbar li {
    font-family: Archivo;
    font-size: 1.3em;
    font-weight: 600;
  }
  .header__button {
    margin-right: 1.5em;
  }
  .header__button img {
    border: 1px solid lightgrey;
    padding: 1em;
  }
  .header__mobile-menu {
    display: none;
  }
}
.banner {
  background-color: #333333;
  color: white;
  padding: 15em 1.5em 8em 1.5em;
}
.banner__title {
  font-family: Archivo;
  font-size: 1.2em;
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: 0.1em;
  text-align: left;
  max-width: 15em;
}
.banner__subtitle {
  font-family: Old Standard TT;
  font-size: 5.6em;
  font-weight: 400;
  line-height: 1em;
  text-align: left;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}
.banner__indexBtn1 {
  background: #BEAD8E;
  color: white;
  font-family: Archivo;
  font-size: 1em;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  width: 21.6em;
  height: 6em;
  margin-right: 2em;
  border: none;
}
.banner__indexBtn2 {
  color: white;
  background: transparent;
  font-family: Archivo;
  font-size: 1em;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  width: 21.6em;
  height: 6em;
  border: 2px solid rgba(255, 255, 255, 0.3294117647);
  margin-top: 2em;
}

@media (width > 1000px) {
  .banner {
    padding: 15em 1.5em 8em 28.5em;
  }
  .banner__title {
    max-width: 25em;
  }
  .banner__subtitle {
    font-size: 7.6em;
    max-width: 7em;
    margin-top: 0.3em;
  }
}
.dateCheck {
  background-color: #222222;
  color: white;
  padding: 3em 1.5em 3em 1.5em;
}
.dateCheck__container__label {
  font-family: Roboto;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.9em;
  text-align: left;
  display: block;
}
.dateCheck__container__input1 {
  margin-bottom: 1em;
  background: transparent;
  border: none;
  border-bottom: 2px solid #BEAD8E;
  color: #686868;
  width: 34.5em;
  font-family: Roboto;
  font-weight: 400;
  line-height: 1.6em;
  padding-left: 2em;
}
.dateCheck__container__input1::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  cursor: pointer;
  background-image: url("/assets/home/calendar.png");
  margin-left: 1.5em;
}
.dateCheck__container__input2 {
  background: transparent;
  border: none;
  border-bottom: 2px solid #BEAD8E;
  color: #686868;
  width: 34.5em;
  font-family: Roboto;
  font-weight: 400;
  line-height: 1.6em;
  padding-left: 2em;
}
.dateCheck__container__input2::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  cursor: pointer;
  background-image: url("/assets/home/calendar.png");
  margin-left: 1.5em;
}
.dateCheck__container__checkBtn {
  background: #BEAD8E;
  color: white;
  font-family: Archivo;
  font-size: 1em;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  width: 25em;
  height: 6em;
  display: block;
  margin-top: 5em;
}

@media (width > 1000px) {
  .dateCheck {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 3em 15em 3em 20em;
  }
  .dateCheck__container {
    display: flex;
  }
  .dateCheck__container__input1 {
    margin-right: 5em;
  }
  .dateCheck__container__input1::-webkit-calendar-picker-indicator {
    position: relative;
    left: -33em;
  }
  .dateCheck__container__input2::-webkit-calendar-picker-indicator {
    position: relative;
    left: -33em;
  }
  .dateCheck__container__checkBtn {
    min-width: 25em;
    margin-top: 0em;
    margin-left: 10em;
  }
}
.homeAbout {
  background: linear-gradient(to top, white 0%, white 65%, #f6f6f6 65%, #f6f6f6 100%);
  margin-top: 5em;
  padding: 5em 3em 5em 3em;
}
.homeAbout__firstContainer__title {
  color: #777777;
  font-family: Archivo;
  font-size: 1.1em;
  font-weight: 700;
  line-height: 1.8em;
  letter-spacing: 0.1em;
}
.homeAbout__firstContainer__subtitle {
  font-family: Old Standard TT;
  font-size: 5.5em;
  font-weight: 400;
  line-height: 1em;
  margin-top: 0.8em;
  margin-bottom: 0.5em;
  max-width: 10em;
}
.homeAbout__firstContainer__par {
  color: #777777;
  font-family: Archivo;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.7em;
  text-align: left;
  max-width: 29em;
}
.homeAbout__firstContainer__btn {
  background: #BEAD8E;
  color: white;
  font-family: Archivo;
  font-size: 1em;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  width: 20em;
  height: 5em;
  border: none;
  margin: 2em 0em 5em 0em;
}
.homeAbout__secondContainer {
  display: grid;
  align-items: center;
  justify-items: center;
}
.homeAbout__secondContainer__card1__pic {
  width: 23.5em;
  height: 25em;
  margin-left: 4em;
}
.homeAbout__secondContainer__card1__teamContainer {
  margin: -1em 4em 5em 4em;
  min-height: 25em;
  padding: 4em 2em 4em 2em;
  background-image: url("./assets/home/backTeam.png");
  background-repeat: no-repeat;
  background-position-x: 10em;
  background-position-y: 4.5em;
  background-color: white;
  background-size: 10em;
  max-width: 25em;
}
.homeAbout__secondContainer__card1__teamContainer__img {
  margin-left: 6em;
  width: 5em;
}
.homeAbout__secondContainer__card1__teamContainer__title {
  font-family: Old Standard TT;
  font-size: 3em;
  font-weight: 400;
  letter-spacing: -0.05em;
  text-align: center;
  margin: 0.5em 0em 0.5em 0em;
}
.homeAbout__secondContainer__card1__teamContainer__par {
  font-family: Roboto;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.5em;
  text-align: center;
}
.homeAbout__secondContainer__card2__pic {
  width: 23.5em;
  height: 25em;
  margin-left: 4em;
}
.homeAbout__secondContainer__card2__roomContainer {
  color: white;
  background-color: black;
  margin: -1em 4em 0em 4em;
  min-height: 25em;
  padding: 4em 2em 4em 2em;
  max-width: 23.5em;
}
.homeAbout__secondContainer__card2__roomContainer__img {
  margin-left: 7em;
  width: 5em;
}
.homeAbout__secondContainer__card2__roomContainer__title {
  font-family: Old Standard TT;
  font-size: 3em;
  font-weight: 400;
  letter-spacing: -0.05em;
  text-align: center;
  margin: 0.5em 0em 0.5em 0em;
}
.homeAbout__secondContainer__card2__roomContainer__par {
  font-family: Roboto;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.5em;
  text-align: center;
}

@media (width > 1000px) {
  .homeAbout {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
  .homeAbout__firstContainer {
    margin: 10em 0em 0em 5em;
    max-width: 40em;
  }
  .homeAbout__secondContainer {
    display: flex;
  }
  .homeAbout__secondContainer__card1 {
    display: flex;
    flex-flow: column-reverse;
  }
  .homeAbout__secondContainer__card1__pic {
    width: 25em;
    margin-left: 0em;
  }
  .homeAbout__secondContainer__card1__teamContainer {
    margin: 0em 0em 2em 0em;
  }
  .homeAbout__secondContainer__card1__teamContainer__par {
    max-width: 17em;
  }
  .homeAbout__secondContainer__card2 {
    padding-top: 5em;
  }
  .homeAbout__secondContainer__card2__pic {
    width: 25em;
    margin-bottom: 3em;
  }
  .homeAbout__secondContainer__card2__roomContainer {
    max-width: 25em;
    min-width: 25em;
  }
  .homeAbout__secondContainer__card2__roomContainer__par {
    max-width: 17em;
  }
}
.homerooms {
  text-align: center;
}
.homerooms__title {
  text-align: center;
  color: #777777;
  font-family: Archivo;
  font-size: 1.1em;
  font-weight: 700;
  line-height: 1.8em;
  letter-spacing: 0.1em;
}
.homerooms__subtitle {
  font-family: Old Standard TT;
  font-size: 5.5em;
  font-weight: 400;
  text-align: center;
  margin-top: 0.4em;
  margin-bottom: 0.2em;
}
.homerooms__complements {
  width: 25em;
  height: 5em;
  z-index: 10;
  position: relative;
  top: 3em;
}
.homerooms__slider__descriptions__item {
  width: 34.5em;
  position: relative;
  bottom: 5em;
  z-index: 10;
  background-color: white;
  padding: 1em 4em 1em 4em;
  display: inline-block;
}
.homerooms__slider__descriptions__item__title {
  font-family: Old Standard TT;
  font-size: 2.8em;
  font-weight: 400;
  letter-spacing: -0.05em;
  text-align: center;
}
.homerooms__slider__descriptions__item__par {
  color: #777777;
  font-family: Archivo;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.7em;
  text-align: center;
  padding: 1em 4em 1em 4em;
}
.homerooms__slider__descriptions__item__price {
  font-size: 2em;
  font-family: Archivo;
  font-weight: 700;
  text-align: center;
  color: #BEAD8E;
  display: block;
}
.homerooms-backArrow {
  bottom: 12em;
  width: 3em;
  height: 3em;
  z-index: 20;
  right: 15em;
}
.homerooms-forwardArrow {
  bottom: 12em;
  width: 3em;
  height: 3em;
  z-index: 20;
  left: 14em;
}

#roomsImg {
  width: 100%;
  height: 25em;
  margin-top: -3em;
}

@media (width > 1000px) {
  #roomsImg {
    width: 100%;
    height: 35em;
  }
  .homerooms-backArrow {
    right: 10em;
  }
  .homerooms-forwardArrow {
    left: 60em;
  }
  .homerooms__slider__descriptions {
    display: inline-block;
  }
  .homerooms__slider__descriptions__item {
    width: 50em;
    bottom: 3em;
    display: flex;
    align-items: center;
    right: 3.3em;
  }
}
.intro {
  background-color: black;
  padding: 2.5em;
  min-height: 70em;
}
.intro__container1__title {
  color: #BDAC8D;
  font-family: Archivo;
  font-size: 1.1em;
  font-weight: 700;
  line-height: 1.8em;
  letter-spacing: 0.1em;
}
.intro__container1__subtitle {
  font-family: Old Standard TT;
  font-size: 5em;
  font-weight: 400;
  line-height: 1em;
  letter-spacing: -0.05em;
  text-align: left;
  color: white;
  margin: 0.5em 1em 0.5em 0em;
}
.intro__container1__par {
  font-family: Archivo;
  font-size: 1.2em;
  font-weight: 400;
  text-align: left;
  line-height: 1.5em;
  color: #C2C2C2;
}
.intro__container1__btn {
  background: #BEAD8E;
  color: white;
  font-family: Archivo;
  font-size: 1em;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  width: 20em;
  height: 5em;
  border: none;
  margin: 25em 0em 5em 0em;
  position: absolute;
}
.intro__container2__video {
  border: none;
  width: 32em;
  margin: 3em 0em 1em 0em;
  min-height: 20em;
}

@media (width > 1000px) {
  .intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: auto;
    background: linear-gradient(to right, black 0%, black 65%, #AD9D82 65%, #AD9D82 100%);
  }
  .intro__container1 {
    padding: 5em 2em 0em 2em;
    max-width: 45em;
  }
  .intro__container1__par {
    max-width: 34em;
  }
  .intro__container1__btn {
    position: relative;
    margin-top: 3em;
  }
  .intro__container2 {
    padding: 5em 2em 0em 2em;
  }
  .intro__container2__video {
    width: 40em;
    height: 30em;
  }
}
.facilities {
  padding-top: 5em;
  padding-bottom: 5em;
  margin-bottom: 5em;
}
.facilities__title {
  text-align: center;
  color: #777777;
  font-family: Archivo;
  font-size: 1.1em;
  font-weight: 700;
  line-height: 1.8em;
  letter-spacing: 0.1em;
}
.facilities__subtitle {
  font-family: Old Standard TT;
  font-size: 5.5em;
  font-weight: 400;
  line-height: 2em;
  letter-spacing: -0.05em;
  text-align: center;
}
.facilities__slider {
  max-width: 40em;
}
.facilities__slider__container__item {
  margin-top: 3em;
  padding: 8em 10em 5em 5em;
  max-width: 40em;
  background-repeat: no-repeat;
  background-position-x: 20em;
  background-position-y: top;
}
.facilities__slider__container__item__img {
  margin-bottom: 2em;
}
.facilities__slider__container__item__title {
  font-family: Old Standard TT;
  font-size: 3em;
  font-weight: 400;
  line-height: 2em;
  letter-spacing: -0.05em;
  text-align: left;
}
.facilities__slider__container__item__par {
  font-family: Archivo;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 2em;
  text-align: left;
  color: #777777;
}

.dark {
  background-color: #222222;
  color: white;
}

.darkLight {
  background-color: #292929;
}

@media (width > 1000px) {
  .facilities__slider {
    max-width: 120em;
    text-align: center;
  }
  .facilities__slider__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .facilities__slider__container__item {
    display: block;
    max-width: 37em;
    margin-right: 3em;
  }
  .facilities__slider__dotsLine {
    display: none;
  }
}
.menu {
  padding-top: 10em;
  background-repeat: no-repeat;
  background-position-x: 110%;
  background-position-y: top;
  background-size: 35%;
  justify-content: center;
  display: grid;
}
.menu__title {
  color: #777777;
  font-family: Archivo;
  font-size: 1.1em;
  font-weight: 700;
  line-height: 1.8em;
  letter-spacing: 0.1em;
  margin-left: 1em;
}
.menu__subtitle {
  font-family: Old Standard TT;
  font-size: 5.5em;
  font-weight: 400;
  line-height: 1.1em;
  text-align: left;
  margin-left: 0.3em;
  margin-bottom: 0.5em;
}
.menu__sliderMenu {
  width: 35em;
  height: 40em;
}
.menu__sliderMenu-slide-item {
  display: flex;
  margin: 1em 0em 2em 2em;
  background: 0;
}
.menu__sliderMenu-slide-item img {
  width: 10em;
  height: 10em;
  vertical-align: bottom;
}
.menu__sliderMenu-slide-item__text {
  margin-left: 3em;
  padding-top: 1em;
}
.menu__sliderMenu-slide-item__text h4 {
  font-family: Old Standard TT;
  font-size: 2em;
  font-weight: 400;
  line-height: 1em;
  letter-spacing: -0.07em;
  text-align: left;
  margin-bottom: 0.5em;
}
.menu__sliderMenu-slide-item__text p {
  font-family: Roboto;
  font-size: 1em;
  font-weight: 400;
  line-height: 2em;
  text-align: left;
  width: 13em;
}
.menu__sliderMenu-slide-item:hover {
  background-color: black;
  color: white;
  background-image: url(/assets/home/arrowHover.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 95%;
}
.menu__sliderMenu__backArrow {
  bottom: 0em;
  left: 25em;
}
.menu__sliderMenu__forwardArrow {
  bottom: 0em;
  left: 26em;
}
.menu__sliderPics {
  margin: 8em 1em 8em 1em;
}
.menu__sliderPics__container {
  max-width: 30em;
  margin-bottom: 5em;
}
.menu__sliderPics__container__item__img {
  width: 35em;
  height: 35em;
}

#backArrow {
  cursor: pointer;
  position: relative;
  background-color: #ebebeb;
  padding: 1em;
  display: inline-block;
}

#forwardArrow {
  cursor: pointer;
  position: relative;
  background-color: #BDAC8D;
  padding: 1em;
  color: white;
  display: inline-block;
}

@media (width > 1000px) {
  .menu {
    background-position-x: 15em;
    background-position-y: 0em;
    padding-top: 20em;
    background-size: unset;
  }
  .menu__sliderMenu {
    width: 100em;
  }
  .menu__sliderMenu-slide-item img {
    width: 10em;
    height: 10em;
  }
  .menu__sliderMenu-slide-item__text p {
    font-size: 1.3em;
    width: 21em;
  }
  .menu__sliderMenu-slide-item__text h4 {
    font-size: 2.5em;
  }
  .menu__sliderMenu__backArrow {
    height: 4em;
    width: 4em;
    padding: 1.3em 0em 0em 1.5em;
    left: 80em;
  }
  .menu__sliderMenu__forwardArrow {
    height: 4em;
    width: 4em;
    padding: 1.3em 0em 0em 1.5em;
    left: 82em;
  }
  .menu__sliderPics__container {
    display: flex;
    justify-content: center;
    max-width: 95em;
  }
  .menu__sliderPics__container__item {
    display: block;
    margin: 0em 1em 0em 1em;
  }
  .menu__sliderPics__container__item__img {
    width: 30em;
    height: 30em;
  }
}
.stats {
  background-color: #222222;
  padding: 2em 2em 5em 2em;
  margin-bottom: 5em;
  display: grid;
  justify-content: center;
}
.stats__item {
  text-align: center;
}
.stats__item__img {
  max-width: 5em;
  margin-top: 5em;
  margin-bottom: 2em;
  position: relative;
}
.stats__item__num {
  font-family: Roboto;
  font-size: 4em;
  font-weight: 700;
  line-height: 1em;
  text-align: center;
  color: white;
}
.stats__item__par {
  font-family: Roboto;
  font-size: 1em;
  font-weight: 700;
  line-height: 1em;
  text-align: center;
  color: #999999;
}

@media (width > 1000px) {
  .stats {
    display: flex;
    width: 50%;
    justify-content: space-around;
    margin-left: 25%;
  }
}
.footerContainer {
  background-image: url("./assets/footer/footerBack.jpg");
}
.footerContainer__main__intro {
  padding: 1em 2em 1em 2em;
}
.footerContainer__main__intro__container {
  display: flex;
  justify-content: space-between;
  width: 30em;
  margin: 0em 0em 4em 0em;
}
.footerContainer__main__intro__container__logo {
  background-color: #BEAD8E;
  min-width: 2.5em;
  height: 2.5em;
  padding: 0.7em 0em 0em 0.9em;
  color: white;
  font-family: Archivo;
  font-size: 2em;
  font-weight: 700;
  margin-right: 1em;
}
.footerContainer__main__intro__container__title1 {
  font-family: Archivo;
  font-size: 1em;
  margin: 0em 4em 0em 0em;
  letter-spacing: 0.1em;
}
.footerContainer__main__intro__container__title2 {
  font-family: Archivo;
  font-size: 2em;
  letter-spacing: 0.1em;
}
.footerContainer__main__intro__par {
  font-family: Archivo;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.5em;
  text-align: left;
  color: #777777;
  margin-bottom: 2em;
}
.footerContainer__main__intro__socials__img {
  width: 3em;
  background-color: #f1f1f1;
  padding: 0.6em;
  margin-right: 0.5em;
}
.footerContainer__main__intro__socials__img:hover {
  background-color: #e4ca9a;
  transition: all 0.5s ease;
}
.footerContainer__main__services {
  padding: 1em 2em 1em 2em;
}
.footerContainer__main__services__title {
  font-family: Old Standard TT;
  font-size: 2em;
  font-weight: 400;
  text-align: left;
  margin: 1em 0em 1em 0em;
}
.footerContainer__main__services__listContainer {
  display: flex;
  justify-content: space-between;
  width: 25em;
  margin-left: 1.5em;
}
.footerContainer__main__services__listContainer__list {
  color: #777777;
  font-family: Roboto;
}
.footerContainer__main__services__listContainer__list li::marker {
  content: "+ ";
  font-size: 1em;
}
.footerContainer__main__services__listContainer__list li {
  font-size: 1.2em;
  font-weight: 400;
  line-height: 3em;
}
.footerContainer__main__contact {
  padding: 1em 2em 1em 2em;
}
.footerContainer__main__contact__title {
  font-family: Old Standard TT;
  font-size: 2em;
  font-weight: 400;
  text-align: left;
  margin: 1em 0em 1em 0em;
}
.footerContainer__main__contact__item {
  display: flex;
  margin-bottom: 4em;
}
.footerContainer__main__contact__item__description {
  margin-left: 2em;
}
.footerContainer__main__contact__item__description__title {
  font-family: Old Standard TT;
  font-size: 1.5em;
  font-weight: 400;
  text-align: left;
  margin-bottom: 0.3em;
}
.footerContainer__main__contact__item__description__par {
  font-family: Roboto;
  font-size: 1em;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0.05em;
  color: #777777;
}
.footerContainer__termsContainer {
  background-color: #F8F8F8;
  padding: 1em 2em 1em 2em;
}
.footerContainer__termsContainer__rights {
  font-family: Roboto;
  font-size: 1.3em;
  font-weight: 700;
  line-height: 2em;
  letter-spacing: -0.04em;
  text-align: left;
}
.footerContainer__termsContainer__terms {
  font-family: Roboto;
  font-size: 1.3em;
  font-weight: 700;
  line-height: 2em;
  letter-spacing: -0.04em;
  text-align: left;
}

@media (width > 1000px) {
  .footerContainer__main {
    display: flex;
    justify-content: center;
  }
  .footerContainer__main__intro {
    max-width: 29em;
  }
  .footerContainer__main__services__title {
    margin-left: 3.5em;
  }
  .footerContainer__main__services__listContainer {
    width: 35em;
    margin: 0em 1em 0em 8em;
  }
  .footerContainer__main__services__listContainer__list li {
    margin-right: 5em;
  }
  .footerContainer__termsContainer {
    display: flex;
    justify-content: space-around;
    padding: 1em 12em 1em 12em;
  }
}
.bannerGeneric {
  background-color: #333333;
  color: white;
  padding: 15em 1.5em 8em 1.5em;
}
.bannerGeneric__title {
  font-family: Archivo;
  font-size: 1.2em;
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: 0.1em;
  text-align: left;
  max-width: 15em;
}
.bannerGeneric__subtitle {
  font-family: Old Standard TT;
  font-size: 5.6em;
  font-weight: 400;
  line-height: 1em;
  text-align: left;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}
.bannerGeneric__nav {
  background-color: white;
  max-width: 15em;
  min-height: 5em;
  position: relative;
  top: 8em;
  left: 20em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1em 0.5em 1em 0.5em;
}
.bannerGeneric__nav a {
  list-style-type: none;
  text-decoration: none;
  font-family: Archivo;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: -0.04em;
}
.bannerGeneric__nav p {
  color: black;
  font-size: 1.5em;
  font-weight: bold;
}

#homeBtn {
  color: black;
}

#currentBtn {
  color: #BEAD8E;
}

@media (width > 1000px) {
  .bannerGeneric {
    padding: 15em 1.5em 8em 28.5em;
    height: 40em;
  }
  .bannerGeneric__title {
    max-width: 25em;
  }
  .bannerGeneric__subtitle {
    font-size: 7.6em;
    max-width: 7em;
    margin-top: 0.3em;
  }
  .bannerGeneric__nav {
    left: 65%;
    top: 3em;
  }
}
.aboutintro {
  display: grid;
  justify-items: center;
}
.aboutintro__video {
  margin: 5em 0em 3em 0em;
  min-height: 20em;
}
.aboutintro__par {
  font-family: Old Standard TT;
  font-size: 3em;
  font-weight: 400;
  letter-spacing: -0.05em;
  text-align: center;
  margin: 0em 1em 1em 1em;
}
.aboutintro__featuresContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 80em;
  justify-content: space-around;
  margin: 5em 0em 5em 0em;
}
.aboutintro__featuresContainer__item {
  width: 15em;
  height: 15em;
  display: grid;
  align-items: center;
  align-content: space-evenly;
  justify-content: center;
  justify-items: center;
}
.aboutintro__featuresContainer__item p {
  font-family: Archivo;
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: 0.15em;
  text-align: center;
}

.gold {
  background-color: #BEAD8E;
  color: white;
}

#bbq {
  display: none;
}

@media (width > 1000px) {
  .aboutintro__video {
    width: 100em;
    height: 50em;
    margin-top: 15em;
  }
  .aboutintro__par {
    max-width: 14em;
    font-size: 5em;
  }
  .aboutintro__featuresContainer {
    width: 50%;
    max-width: 50%;
  }
  .aboutintro__featuresContainer #bbq {
    display: grid;
  }
}
.restaurant {
  display: grid;
  justify-items: center;
}
.restaurant__img {
  width: 30em;
  height: 25em;
  margin: 2em 0em 3.5em 0em;
}
.restaurant__container {
  padding: 0em 3em 0em 3em;
}
.restaurant__container__title {
  color: #777777;
  font-family: Archivo;
  font-size: 1.1em;
  font-weight: 700;
  line-height: 1.8em;
  letter-spacing: 0.1em;
}
.restaurant__container__subtitle {
  font-family: Old Standard TT;
  font-size: 4em;
  font-weight: 400;
  line-height: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  max-width: 10em;
}
.restaurant__container__par {
  color: #777777;
  font-family: Archivo;
  font-size: 1.4em;
  font-weight: 400;
  line-height: 1.7em;
  text-align: left;
  max-width: 21em;
}
.restaurant__container__btn {
  background: #BEAD8E;
  color: white;
  font-family: Archivo;
  font-size: 1em;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  width: 20em;
  height: 5em;
  border: none;
  margin: 2em 0em 5em 0em;
}

@media (width > 1000px) {
  .restaurant {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10em;
    padding-left: 15em;
  }
  .restaurant__img {
    width: 50em;
    height: 20%;
  }
  .restaurant__container {
    margin-left: 5em;
  }
  .restaurant__container__subtitle {
    max-width: 11em;
  }
  .restaurant__container__par {
    max-width: 34em;
  }
}
.counter {
  padding: 0em 5em 0em 3em;
}
.counter__title {
  color: #777777;
  font-family: Archivo;
  font-size: 1.1em;
  font-weight: 700;
  line-height: 1.8em;
  letter-spacing: 0.1em;
}
.counter__subtitle {
  font-family: Old Standard TT;
  font-size: 4em;
  font-weight: 400;
  line-height: 1em;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  max-width: 5em;
}
.counter__facts__item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5em;
}
.counter__facts__item__description__num {
  font-family: Old Standard TT;
  font-size: 4em;
  font-weight: 400;
  line-height: 1em;
}
.counter__facts__item__description__par {
  font-family: Roboto;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: -0.018em;
  color: #777777;
}
.counter #counterImg {
  width: 100%;
  height: 20em;
  margin-bottom: 5em;
}

@media (width > 1000px) {
  .counter {
    display: grid;
    justify-content: center;
    margin-bottom: 5em;
  }
  .counter #counterImg {
    width: 45em;
    height: 35em;
  }
  .counter__subtitle {
    font-size: 5.5em;
    max-width: 10em;
  }
  .counter__facts {
    display: flex;
    justify-content: space-between;
  }
  .counter__facts__item__description {
    margin: 0em 5em 0em 5em;
  }
  .counter__slide {
    width: 95em;
  }
}
.swiper-pagination > .swiper-pagination-bullet {
  opacity: 0.2;
  border: white solid 1px;
  background-color: gray;
}

.swiper-pagination > .swiper-pagination-bullet-active {
  background-color: #BEAD8E;
  opacity: 1;
}

.offermain {
  padding-top: 5em;
}
.offermain__item {
  padding: 0em 2em 10em 2em;
}
.offermain__item img {
  max-width: 33.5em;
}
.offermain__item__container1 {
  display: flex;
}
.offermain__item__container1__titles :nth-child(1) {
  color: #777777;
  font-family: Archivo;
  font-size: 1.1em;
  font-weight: 700;
  line-height: 1.8em;
  letter-spacing: 0.1em;
  margin-left: 1em;
  margin-bottom: 1em;
}
.offermain__item__container1__titles :nth-child(2) {
  font-family: Old Standard TT;
  font-size: 3em;
  font-weight: 400;
  line-height: 1.1em;
  text-align: left;
  margin-left: 0.3em;
  margin-bottom: 0.5em;
  text-decoration: none;
  color: black;
  display: block;
}
.offermain__item__container1__prices {
  position: relative;
  bottom: 5em;
  margin-right: 2em;
}
.offermain__item__container1__prices :nth-child(1) {
  color: #BEAD8E;
  font-family: Archivo;
  font-size: 1.5em;
  font-weight: 700;
  text-align: right;
  text-decoration: line-through;
}
.offermain__item__container1__prices :nth-child(2) {
  color: #DE5777;
  font-family: Archivo;
  font-size: 2em;
  font-weight: 700;
}
.offermain__item__container2__description {
  max-height: 22em;
}
.offermain__item__container2__description p {
  font-family: Roboto;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 2em;
  text-align: left;
  max-width: 21em;
  color: #777777;
  margin-left: 1.3em;
}
.offermain__item__container2__description a.button {
  position: relative;
  top: 18em;
  background: #BEAD8E;
  color: white;
  font-family: Archivo;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0.1em;
  width: 20em;
  height: 5em;
  border: none;
  margin-left: 1em;
  display: inline-block;
  padding: 2em 0em 0em 7em;
  text-decoration: none;
}
.offermain__item__container2__list {
  display: flex;
  justify-content: space-between;
  max-width: 25em;
  margin-left: 1.5em;
}
.offermain__item__container2__list ul {
  list-style-type: none;
}
.offermain__item__container2__list li {
  font-family: Roboto;
  font-size: 1.2em;
  font-weight: 500;
  color: #777777;
  margin-bottom: 1em;
}
.offermain__item__container2__list img {
  max-width: 1.3em;
  margin-right: 0.5em;
}

@media (width > 1000px) {
  .offermain {
    display: grid;
    justify-content: center;
  }
  .offermain__item {
    width: 95em !important;
  }
  .offermain__item-card {
    background-color: white;
    border-top: 10px solid #BDAC8D;
    z-index: 10;
    position: relative;
    bottom: 10em;
    margin: 0em 5em 0em 5em;
  }
  .offermain__item a img {
    width: 100%;
    max-width: unset;
  }
  .offermain__item__container1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 0em 1em 0em;
    border-bottom: 2px solid rgba(119, 119, 119, 0.1607843137);
    margin: 0em 4em 4em 4em;
  }
  .offermain__item__container1__prices {
    position: unset;
  }
  .offermain__item__container2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .offermain__item__container2__description p {
    max-width: 32em;
  }
  .offermain__item__container2__description a.button {
    top: 3em;
  }
  .offermain__item__container2__list {
    max-width: 35em;
  }
  .offermain__item__container2__list ul {
    margin-right: 5em;
  }
}
@media (width > 400px) {
  .offermain {
    display: grid;
    justify-content: center;
  }
  .offermain__item {
    width: 38em;
  }
}
.popularList {
  text-align: center;
  background-color: black;
  padding: 5em 2em 5em 2em;
}
.popularList__title {
  font-family: Archivo;
  font-size: 1.4em;
  font-weight: 500;
  letter-spacing: 0.2em;
  color: #BDAC8D;
}
.popularList__subtitle {
  font-family: Old Standard TT;
  font-size: 4em;
  font-weight: 400;
  letter-spacing: -0.05em;
  color: white;
  margin-bottom: 1em;
}
.popularList__slider {
  text-align: center;
  background-color: white;
}
.popularList__slider__wrapper {
  background-color: black;
}
.popularList__slider__wrapper__slide {
  width: 10em;
  background-color: white;
}
.popularList__slider__wrapper__slide__title {
  font-family: Old Standard TT;
  font-size: 2.8em;
  font-weight: 400;
  letter-spacing: -0.05em;
  text-align: center;
}
.popularList__slider__wrapper__slide__par {
  color: #777777;
  font-family: Archivo;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.7em;
  text-align: center;
  padding: 1em 6em 1em 6em;
}
.popularList__slider__wrapper__slide__price {
  font-size: 2em;
  font-family: Archivo;
  font-weight: 700;
  color: #BEAD8E;
  display: inline-block;
  margin: 0em 1em 1em 0em;
}
.popularList__slider__wrapper__slide__complements {
  width: 25em;
  height: 5em;
  z-index: 10;
  position: relative;
  bottom: 2em;
}
.popularList__slider__wrapper__slide a {
  font-family: Archivo;
  font-size: 16px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: right;
  color: #BDBDBD;
  text-decoration: none;
}
.popularList__slider__backArrow {
  cursor: pointer;
  position: absolute;
  background-color: white;
  padding: 0.5em 0.5em 0.5em 0.3em;
  bottom: 30em;
  z-index: 100;
  height: 2.5em;
  min-width: 2.5em;
  color: black;
}
.popularList__slider__forwardArrow {
  cursor: pointer;
  position: relative;
  background-color: #BDAC8D;
  padding: 0.5em 0.5em 0.5em 0.3em;
  bottom: 30em;
  z-index: 100;
  height: 2.5em;
  max-width: 2.5em;
  color: white;
  left: 31em;
}

@media (width > 1000px) {
  .popularList__slider {
    max-width: 120em;
    margin-bottom: 10em;
  }
  .popularList__subtitle {
    font-size: 8em;
    margin-top: 1em;
  }
}
.roomsGrid__slider {
  width: 100% !important;
  height: 190em;
  margin-top: 2em;
  margin-bottom: 5em;
}

.roomsGrid__slider .swiper-slide {
  height: 40em !important;
  padding: 1em 3em 1em 3em;
  text-align: center;
  margin-top: 5em !important;
}

.roomsGrid__slider img {
  width: 30em;
  height: 25em;
  vertical-align: bottom;
}

.roomsGrid__slider__backArrow {
  position: relative;
  bottom: 2.4em;
  padding-left: 12em;
  display: none;
}

.roomsGrid__slider__forwardArrow {
  position: relative;
  bottom: 3.8em;
  text-align: end;
  padding-right: 12em;
  display: none;
}

#roomsComplement {
  width: 25em;
  height: 5em;
  z-index: 10;
  position: relative;
  bottom: 2em;
}

@media (width > 1000px) {
  .roomsGrid__slider {
    width: 65% !important;
    height: 170em;
  }
  .roomsGrid__slider img {
    width: 35em;
  }
  .roomsGrid__slider .swiper-slide {
    height: 45em !important;
  }
}
.contactIntro {
  display: grid;
  justify-content: center;
}
.contactIntro__information {
  margin: 5em;
}
.contactIntro__information div {
  background-repeat: no-repeat;
  background-position: right;
  height: 10em;
  margin-bottom: 8em;
}
.contactIntro__information div:nth-of-type(3) {
  margin-bottom: 0em;
}
.contactIntro__information img {
  max-height: 4em;
}
.contactIntro__information p {
  margin-top: 2em;
}
.contactIntro__google-map {
  padding-bottom: 50%;
  position: relative;
  width: 34em;
  margin: 2em 2em 2em 2em;
}
.contactIntro__google-map iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

.contactForm__form {
  max-width: 45em;
  padding: 3em;
  margin: 5em auto;
}
.contactForm__form ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.contactForm__form ul li {
  display: block;
  margin-bottom: 1em;
  min-height: 3em;
  text-align: center;
}
.contactForm__form ul li .field-style {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0.8em;
  border: none;
  background-color: #F8F8F8;
}
.contactForm__form ul li .field-full {
  width: 100%;
  min-height: 5em;
  font-size: 1.3em;
  font-family: Roboto;
}
.contactForm__form ul li textarea {
  width: 100%;
  height: 15em;
  font-family: Roboto;
  font-size: 1.3em;
}

.contactBtn {
  background: #BEAD8E;
  color: white;
  font-family: Archivo;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0.1em;
  width: 20em;
  height: 5em;
  border: none;
  cursor: pointer;
}

@media (width > 1000px) {
  .contactIntro__information {
    margin: 10em 5em 5em 5em;
    display: flex;
    justify-content: space-around;
  }
  .contactIntro__information div {
    margin-bottom: 0em;
    margin-top: 2em;
    width: 25em;
  }
  .contactIntro__information img {
    margin-top: 2em;
  }
  .contactIntro__google-map {
    padding-bottom: 50%;
    position: relative;
    width: 100em;
    margin-top: 0em;
  }
  .contactForm__form {
    max-width: 85em;
  }
  .contactForm__form__inputContainer {
    display: flex;
  }
  .contactForm__form ul li .field-full {
    width: 30em;
    margin-right: 1em;
  }
  .contactBtn {
    margin-top: 2em;
  }
}
.details {
  margin: 5em 2em 2em 2em;
}
.details p {
  font-family: Roboto;
  font-size: 1.3em;
  font-weight: 400;
  line-height: 2em;
  color: #777777;
}
.details-container__item__text h1 {
  color: #777777;
  font-family: Archivo;
  font-size: 1.1em;
  font-weight: 700;
  line-height: 1.8em;
  letter-spacing: 0.1em;
  margin-bottom: 1em;
}
.details-container__item__text h4 {
  font-family: Old Standard TT;
  font-size: 3em;
  font-weight: 400;
  line-height: 1.1em;
  text-align: left;
  margin-bottom: 0.5em;
}
.details-container__item__text p {
  color: #BEAD8E;
  font-family: Archivo;
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 0.5em;
}
.details-container__image {
  width: 33.5em;
}
.details-container__image img {
  width: 100%;
}
.details-container__form {
  text-align: center;
}
.details-container__form h2 {
  font-family: Archivo;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 2em;
  letter-spacing: -0.05em;
  margin: 2em;
}
.details-container__form li {
  list-style-type: none;
}
.details-container__form li label {
  display: block;
  margin: 1em 0em 1em 1.5em;
  text-align: left;
  font-family: Archivo;
  font-size: 1.4em;
  font-weight: 700;
  line-height: 15px;
}
.details-container__form li input {
  border: none;
  background-color: #f0eeee;
  height: 4em;
  width: 30em;
  padding: 1em;
  color: #777777;
}
.details-container__form li textarea {
  border: none;
  background-color: #f0eeee;
  min-height: 10em;
  width: 30em;
  padding: 1em;
}
.details-container__form li .checkBtn {
  background-color: #BEAD8E;
  color: white;
  font-family: Archivo;
  font-size: 1.4em;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.2em;
  width: 21.5em;
  margin-top: 2em;
  margin-bottom: 4em;
}

@media (width > 1000px) {
  .details {
    display: block !important;
  }
  .details-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5em;
  }
  .details-container__item {
    max-width: 100em;
  }
  .details-container__item__text {
    width: 85%;
    background-color: white;
    translate: 0em 8em;
    padding: 0em 5em 1em 5em;
  }
  .details-container__image {
    width: 90%;
  }
  #introPar {
    width: 50em;
    margin-left: 15%;
  }
  #titleDiv {
    display: flex;
    justify-content: space-between;
  }
}
@media (width > 600px) {
  .details {
    display: grid;
    justify-items: center;
  }
}
.amenities {
  margin: 5em 2em 10em 2em;
}
.amenities h4 {
  font-family: Old Standard TT;
  font-size: 3em;
  font-weight: 400;
  line-height: 2em;
  text-align: left;
  border-bottom: 1px solid rgba(119, 119, 119, 0.231372549);
  margin-bottom: 1em;
}
.amenities-list {
  display: flex;
  justify-content: space-between;
  max-width: 25em;
  margin-left: 1.5em;
}
.amenities-list ul {
  list-style-type: none;
}
.amenities-list li {
  font-family: Roboto;
  font-size: 1.2em;
  font-weight: 500;
  color: #777777;
  margin-bottom: 1em;
}
.amenities-list img {
  max-width: 1.3em;
  margin-right: 0.5em;
}
.amenities-profile {
  max-width: 35em;
  text-align: center;
  padding: 5em;
}
.amenities-profile__checkmark {
  background-color: #BDAC8D;
  width: 4em;
  height: 4em;
  padding: 1.2em;
  border-radius: 5em;
  color: white;
  border: 3px solid white;
  position: relative;
  z-index: 10;
  left: 15em;
  top: 5em;
}
.amenities-profile h4 {
  border: none;
  text-align: center;
  margin-bottom: 0em;
}
.amenities-profile h2 {
  font-family: Archivo;
  font-size: 1.4em;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 0.2em;
  color: #BDAC8D;
  margin-bottom: 1em;
}
.amenities-profile p {
  font-family: Archivo;
  font-size: 1.6em;
  font-weight: 400;
  line-height: 1.5em;
  color: #777777;
}
.amenities-profile img {
  width: 15em;
  border-radius: 10em;
  height: 15em;
}
.amenities-cancellation {
  margin-top: 5em;
}
.amenities-cancellation p {
  font-family: Roboto;
  font-size: 1.4em;
  font-weight: 400;
  line-height: 1.5em;
  text-align: left;
  color: #777777;
}

@media (width > 1000px) {
  .amenities {
    padding: 0em 30em 0em 30em;
    display: block !important;
  }
  .amenities-profile {
    margin-top: 5em;
    padding: 5em 5em 10em 5em;
    box-shadow: 3px 3px 10px 3px rgba(190, 173, 142, 0.2705882353);
  }
  .amenities-profile__checkmark {
    left: 16em;
  }
  .amenities-cancellation {
    width: 57em;
  }
  .amenities-list {
    max-width: 35em;
  }
}
@media (width > 600px) {
  .amenities {
    display: grid;
    justify-items: center;
  }
}
.relatedRooms {
  margin: 5em 2em 2em 2em;
}
.relatedRooms h4 {
  font-family: Old Standard TT;
  font-size: 3em;
  font-weight: 400;
  line-height: 2em;
  text-align: left;
  border-bottom: 1px solid rgba(119, 119, 119, 0.231372549);
  margin-bottom: 1em;
}
.relatedRooms-slider {
  text-align: center;
}
.relatedRooms-slider__slide {
  width: 10em;
}
.relatedRooms-slider__slide__title {
  font-family: Old Standard TT;
  font-size: 2.8em;
  font-weight: 400;
  letter-spacing: -0.05em;
  text-align: center;
}
.relatedRooms-slider__slide__par {
  color: #777777;
  font-family: Archivo;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.7em;
  text-align: center;
  padding: 1em 6em 1em 6em;
}
.relatedRooms-slider__slide__price {
  font-size: 2em;
  font-family: Archivo;
  font-weight: 700;
  color: #BEAD8E;
  display: inline-block;
  margin: 0em 1em 1em 0em;
}
.relatedRooms-slider__slide__complements {
  width: 25em;
  height: 5em;
  z-index: 10;
  position: relative;
  bottom: 2em;
}
.relatedRooms-slider__slide a {
  font-family: Archivo;
  font-size: 16px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: right;
  color: #BDBDBD;
  text-decoration: none;
}
.relatedRooms-slider__forwardArrow {
  z-index: 10;
  bottom: 30em;
  left: 14em;
}
.relatedRooms-slider__backArrow {
  z-index: 10;
  bottom: 30em;
  right: 14em;
}

@media (width > 1000px) {
  .relatedRooms {
    margin-left: 15%;
  }
  .relatedRooms-slider {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
