.bannerGeneric{
    background-color: #333333;
    color: white;
    padding: 15em 1.5em 8em 1.5em;

    &__title{
        font-family: Archivo;
        font-size: 1.2em;
        font-weight: 700;
        line-height: 1.2em;
        letter-spacing: 0.1em;
        text-align: left;
        max-width: 15em;

    }
    &__subtitle{
        font-family: Old Standard TT;
        font-size: 5.6em;
        font-weight: 400;
        line-height: 1em;
        text-align: left;
        margin-top: 0.8em;
        margin-bottom: 0.8em;

    }
    &__nav{
        background-color: white;
        max-width: 15em;
        min-height: 5em;
        position: relative;
        top: 8em;
        left: 20em;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 1em 0.5em 1em 0.5em;
    }
    &__nav a{
        list-style-type: none;
        text-decoration: none;
        font-family: Archivo;
        font-size: 1em;
        font-weight: 700;
        letter-spacing: -0.04em;
    }
    &__nav p{
        color: black;
        font-size: 1.5em;
        font-weight: bold;
    }
}

#homeBtn{
    color: black;
}

#currentBtn{
    color: #BEAD8E;
}


@media (width > 1000px) {
    .bannerGeneric{
        padding: 15em 1.5em 8em 28.5em;
        height: 40em;
    
        &__title{
            max-width: 25em;
    
        }
        &__subtitle{
            font-size: 7.6em;
            max-width: 7em;
            margin-top: 0.3em;
    
        }
        &__nav{
            left: 65%;
            top: 3em;
        }
        
    }
}