.contactIntro{
    display: grid;
    justify-content: center;

    &__information{
        margin: 5em;
        

        div{
            background-repeat: no-repeat;
            background-position: right;
            height: 10em;
            margin-bottom: 8em;
        }
        div:nth-of-type(3){
            margin-bottom: 0em;
        }
        img{
            max-height: 4em;
        }
        p{
            margin-top: 2em;
        }
    }

    &__google-map {
        padding-bottom: 50%;
        position: relative;
        width: 34em;
        margin: 2em 2em 2em 2em;
    }
    &__google-map iframe {
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        position: absolute;
    }
}


.contactForm__form{
	max-width: 45em;
	padding: 3em;
	margin: 5em auto;

    ul{
        padding:0;
        margin:0;
        list-style:none;

        li{
            display: block;
            margin-bottom: 1em;
            min-height: 3em;
            text-align: center;

            .field-style{
                box-sizing: border-box; 
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box; 
                padding: 0.8em;
                border: none;
                background-color: #F8F8F8;
            
            }

            .field-full{
                width: 100%;
                min-height: 5em;
                font-size: 1.3em;
                font-family: Roboto;
            }

            textarea{
                width: 100%;
                height: 15em;
                font-family: Roboto;
                font-size: 1.3em;
            
            }
        }
    }
}


.contactBtn {
    background: #BEAD8E;
    color: white;
    font-family: Archivo;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 0.1em;
    width: 20em;
    height: 5em;
    border: none;
    cursor: pointer;
}


@media (width > 1000px) {

    .contactIntro{

        &__information{
            margin: 10em 5em 5em 5em;
            display: flex;
            justify-content: space-around;

            div{
                margin-bottom: 0em;
                margin-top: 2em;
                width: 25em;
            }
            img{
                margin-top: 2em;
            }
        }

        &__google-map {
            padding-bottom: 50%;
            position: relative;
            width: 100em;
            margin-top: 0em;
        }
    }

    .contactForm__form{
        max-width: 85em;

        &__inputContainer{
            display: flex;
        }

        ul li .field-full{
            width: 30em;
            margin-right: 1em;
        }
    }

    .contactBtn{
        margin-top: 2em;
    }

    
}