.offermain{
    padding-top: 5em;
    
    
    &__item{
        padding: 0em 2em 10em 2em;

        img{
            max-width: 33.5em;
        }
        &__container1{
            display: flex;
            
            &__titles{

                :nth-child(1){
                    color: #777777;
                    font-family: Archivo;
                    font-size: 1.1em;
                    font-weight: 700;
                    line-height: 1.8em;
                    letter-spacing: 0.1em;
                    margin-left: 1em;
                    margin-bottom: 1em;
                }
                :nth-child(2){
                    font-family: Old Standard TT;
                    font-size: 3em;
                    font-weight: 400;
                    line-height: 1.1em;
                    text-align: left;
                    margin-left: 0.3em;
                    margin-bottom: 0.5em;
                    text-decoration: none;
                    color: black;
                    display: block;
                }
            }
            &__prices{
                position: relative;
                bottom: 5em;
                margin-right: 2em;

                :nth-child(1){
                    color: #BEAD8E;
                    font-family: Archivo;
                    font-size: 1.5em;
                    font-weight: 700;
                    text-align: right;
                    text-decoration: line-through;
                }
                :nth-child(2){
                    color: #DE5777;
                    font-family: Archivo;
                    font-size: 2em;
                    font-weight: 700;
                }
            }
        }
        &__container2{

            &__description{
                max-height: 22em;

                p{
                    font-family: Roboto;
                    font-size: 1.2em;
                    font-weight: 400;
                    line-height: 2em;
                    text-align: left;
                    max-width: 21em;
                    color: #777777;
                    margin-left: 1.3em;
                }

                a.button{
                    position: relative;
                    top: 18em;
                    background: #BEAD8E;
                    color: white;
                    font-family: Archivo;
                    font-size: 1em;
                    font-weight: 700;
                    letter-spacing: 0.1em;
                    width: 20em;
                    height: 5em;
                    border: none;
                    margin-left: 1em;
                    display: inline-block;
                    padding: 2em 0em 0em 7em;
                    text-decoration: none;
                }
            }
            &__list{    
                display: flex;
                justify-content: space-between;
                max-width: 25em;
                margin-left: 1.5em;
                
                ul{
                    list-style-type: none;
                }
                li{
                    font-family: Roboto;
                    font-size: 1.2em;
                    font-weight: 500;
                    color: #777777;
                    margin-bottom: 1em;
                }
                img{
                    max-width: 1.3em;
                    margin-right: 0.5em;
                }
            }
        }
    }
}

@media (width > 1000px) {

    .offermain{
        display: grid;
        justify-content: center;

        &__item{
            width: 95em !important;
            
            &-card{
                background-color: white;
                border-top: 10px solid #BDAC8D;
                z-index: 10;
                position: relative;
                bottom: 10em;
                margin: 0em 5em 0em 5em;
            }
            a img{
                width: 100%;
                max-width: unset;
            }
            &__container1{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1em 0em 1em 0em;
                border-bottom: 2px solid #77777729;
                margin: 0em 4em 4em 4em;
                
                &__prices{
                    position: unset;
                }
            }
            &__container2{
                display: flex;
                align-items: center;
                justify-content: space-around;

                &__description{

                    p{
                        max-width: 32em;
                    }
                    a.button{
                        top: 3em;
                    }
                }

                &__list{
                    max-width: 35em;

                    ul{
                        margin-right: 5em;
                    }
                }
            }
        }
    }
}


@media (width > 400px) {

    .offermain{
        display: grid;
        justify-content: center;

        &__item{
            width: 38em;
        }
    }
}